<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home">Vulnerable Site</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="home">Home</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
        <a href="new_post" class="btn btn-primary navbar-btn">Create New Post</a>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
